<div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
            <%= quiz.title %>
        </h5>
        <small>
            <%= quiz.questions.length %> questions
        </small>
    </div>
</div>
